<template>
  <div class="login__block">
    <div class="img__wrapper">
      <img
        class="img__cat_login"
        src="../../assets/images/catLogin.png"
        alt="Cat"
      />
    </div>
    <div class="auth__form">
      <h1 class="forgotPass__h1">Forgot Password</h1>
      <AnimatedInput
        v-validate="'required|email|max:255'"
        v-model="form.email"
        name="email"
        type="email"
        placeholder=""
        label="email"
        class="login__email"
        :err="childPropError"
      />
      <h2 class="back_error">{{ this.msg }}</h2>
      <button @click="submit" class="auth__button">send</button>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapActions: mapAuthActions } = createNamespacedHelpers("auth");

import AnimatedInput from "../../components/ui/inputs/AnimatedInput";

export default {
  name: "ForgotPass",
  components: {
    AnimatedInput
  },
  data: function() {
    return {
      form: {
        email: ""
      },
      msg: "",
      childPropError: false
    };
  },
  methods: {
    ...mapAuthActions(["forgotPass"]),
    submit() {
      this.childPropError = false;

      this.$validator.validate().then(result => {
        if (result) {
          this.forgotPass(this.form)
            .then(() => {
              this.$router.push("/forgot-password/check-email");
            })
            .catch(error => {
              this.childPropError = true;
              this.msg = error.response.data.message;
            });
        }
      });
    }
  }
};
</script>

<style scoped>
.back_error {
  font-size: 18px;
  color: #364a67;
  margin: 0;
}
.forgotPass__h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #364a67;
  margin-top: 80px;
}
</style>
