<template>
  <div class="login__wraper">
    <div class="login__block">
      <div class="img__wrapper">
        <img
          class="img__cat_login"
          src="../../assets/images/catLogin.png"
          alt="Cat"
        />
      </div>
      <SocialLogin class="social-login__mob" />
      <div class="auth__form">
        <AnimatedInput
          v-validate="'required|email|max:255'"
          v-model="form.email"
          name="email"
          type="email"
          placeholder=""
          label="email"
          class="login__email"
          :err="childPropError"
        />

        <AnimatedInput
          v-validate="'required|min:8'"
          v-model="form.password"
          name="password"
          type="password"
          placeholder=""
          label="password"
          class="login__password"
          :err="childPropError"
        />

        <h2 class="back_error">{{ this.error }}</h2>

        <button @click="submit" class="auth__button">GO IN</button>

        <router-link class="login__forgotpass" to="/forgot-password"
          >Forgot Password</router-link
        >
      </div>
    </div>
    <SocialLogin class="social-login__des" />
    <span class="signUpAdvice"
      >Dont have an account yet?
      <router-link class="signUpLink" to="/register">SIGN UP</router-link></span
    >
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import AnimatedInput from "../../components/ui/inputs/AnimatedInput";
import SocialLogin from "../../components/ui/SocialLogin";

const { mapActions: mapAuthActions } = createNamespacedHelpers("auth");

export default {
  name: "Login",
  components: {
    AnimatedInput,
    SocialLogin
  },
  data: function() {
    return {
      form: {
        email: "",
        password: ""
      },
      error: "",
      childPropError: false
    };
  },
  methods: {
    ...mapAuthActions(["login"]),

    submit() {
      this.childPropError = false;

      this.$validator.validate().then(result => {
        if (result) {
          this.login(this.form)
            .then(() => {
              this.$router.push("/profile");
            })
            .catch(error => {
              this.error = error.response.data.message;
              this.childPropError = true;
            });
        }
      });
    }
  }
};
</script>

<style scoped>
.back_error {
  font-size: 18px;
  color: #364a67;
  margin: 0;
}
.login__wraper {
  display: flex;
}
@media (max-width: 900px) {
  .login__wraper {
    display: block;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .login__wraper {
    display: block;
  }
}
.social-login__des {
}
@media (max-width: 900px) {
  .social-login__des {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .social-login__des {
    display: none;
  }
}
.social-login__mob {
  display: none;
}
@media (max-width: 900px) {
  .social-login__mob {
    display: block;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .social-login__mob {
    display: block;
  }
}
.signUpAdvice {
  display: none;
}
@media (max-width: 900px) {
  .signUpAdvice {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    color: #72a7e6;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .signUpAdvice {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    color: #72a7e6;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}
.signUpLink {
  color: #72a7e6;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
</style>
