<template>
  <div class="login__block">
    <div class="confirm-registr__wraper">
      <img src="../../assets/images/registrConfirm.png" alt="Cat paw" />
      <h1 class="registr-confirm__h1">
        Please check your email for a link we sent you<img
          class="paw__icon"
          src="../../assets/images/paw.png"
        />
      </h1>
      <button type="submit" class="auth__button">
        meow<img class="btn__icon" src="../../assets/images/btn-icon.png" />
      </button>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapActions: mapAuthActions } = createNamespacedHelpers("auth");

export default {
  name: "RegisterConfirm",
  methods: {
    ...mapAuthActions(["registerConfirm", " getProfile"]),
    checkConfirmationCode() {
      let req = {
        email: this.$route.query.email,
        code: this.$route.query.code
      };
      if (req.email && req.code) {
        this.registerConfirm(req)
          .then(() => {
            console.log("register confirm");
            this.$router.push("/profile");
          })
          .catch(error => {
            console.log(error);
          });
      }
    }
  },
  mounted() {
    this.checkConfirmationCode();
  }
};
</script>

<style scoped>
/*.login__block {
    height: 451px;
  }*/
.confirm-registr__wraper {
  text-align: center;
  padding-top: 30px;
}
.registr-confirm__h1 {
  color: #212f56;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 105px;
}
@media (max-width: 800px) {
  .registr-confirm__h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
  }
}
.paw__icon {
  margin-left: 6px;
} /*
.auth__button {
  margin-top: 164px;
}
@media (max-width: 800px) {
  .auth__button {
    margin-top: 88px;
  }
}*/
.btn__icon {
  margin-left: 16px;
}
</style>
