<template>
  <div>
    <div class="login__block">
      <div class="auth__form">
        <AnimatedInput
          v-validate="'required|max:255'"
          v-model="form.firstName"
          name="First name"
          placeholder=""
          label="First name"
        />

        <AnimatedInput
          v-validate="'required|max:255'"
          v-model="form.lastName"
          name="Last name"
          placeholder=""
          label="Last name"
          class="margin-top__input"
        />

        <AnimatedInput
          v-validate="'required|email|max:255'"
          v-model="form.email"
          name="Email"
          type="email"
          placeholder=""
          label="Email"
          class="margin-top__input"
          :err="childPropError"
        />

        <AnimatedInput
          v-validate="'required|min:8|max:60'"
          v-model="form.password"
          name="Password"
          type="password"
          placeholder=""
          label="Password"
          class="margin-top__input"
        />

        <AnimatedInput
          v-validate="'required|confirmed:' + form.password"
          v-model="form.passwordConfirmation"
          name="Confirm Password"
          type="password"
          placeholder=""
          label="Confirm Password"
          place
          data-vv-as="password"
          class="margin-top__input"
        />
        <h2 class="back_error">{{ this.error }}</h2>
        <button @click="submit" class="auth__button">Next</button>
      </div>
    </div>
    <span class="signInAdvice"
      >Already have an account?
      <router-link class="signInLink" to="/login">SIGN IN</router-link></span
    >
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapActions: mapAuthActions } = createNamespacedHelpers("auth");

import AnimatedInput from "../../components/ui/inputs/AnimatedInput";

export default {
  name: "Register",
  components: {
    AnimatedInput
  },
  data: function() {
    return {
      form: {
        firstName: "",
        lastName: "",
        email: "",
        password: "",
        passwordConfirmation: ""
      },
      error: "",
      childPropError: false
    };
  },
  methods: {
    ...mapAuthActions(["register"]),
    submit() {
      this.childPropError = false;
      this.$validator.validate().then(result => {
        if (result) {
          this.register(this.form)
            .then(() => {
              this.$router.push("/register/confirm");
            })
            .catch(error => {
              this.childPropError = true;
              this.error = error.response.data.message;
            });
        }
      });
    }
  }
};
</script>
<style scoped>
.back_error {
  font-size: 18px;
  color: #364a67;
  margin: 0;
}
.login__block {
  height: 700px;
  padding-top: 70px;
}
@media (max-width: 800px) {
  .login__block {
    height: 600px;
    padding-top: 25px;
  }
}
.signInAdvice {
  display: none;
}
@media (max-width: 800px) {
  .signInAdvice {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    color: #72a7e6;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}
.signInLink {
  color: #72a7e6;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.margin-top__input {
  margin-top: 17px;
}
</style>
