<template>
  <div class="login__block">
    <div class="img__wrapper">
      <img
        class="img__cat_login"
        src="../../assets/images/catLogin.png"
        alt="Cat"
      />
    </div>
    <div class="auth__form">
      <h1 class="forgotPass__h1">Reset Password</h1>
      <AnimatedInput
        v-validate="'required|min:8|max:60'"
        v-model="form.password"
        name="Password"
        type="password"
        placeholder=""
        label="Password"
        class="margin-top__input"
      />

      <AnimatedInput
        v-validate="'required|confirmed:' + form.password"
        v-model="form.passwordConfirmation"
        name="Confirm Password"
        type="password"
        placeholder=""
        label="Confirm Password"
        data-vv-as="password"
        class="margin-top__input"
      />
      <h2 class="back_error">{{ this.msg }}</h2>
      <button @click="submit" class="auth__button">send</button>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapActions: mapAuthActions } = createNamespacedHelpers("auth");

import AnimatedInput from "../../components/ui/inputs/AnimatedInput";

export default {
  name: "ResetPassword",
  components: {
    AnimatedInput
  },
  data: function() {
    return {
      form: {
        password: "",
        passwordConfirmation: "",
        email: "",
        code: ""
      },
      msg: ""
    };
  },
  mounted() {
    this.form.email = this.$route.query.email;
    this.form.code = this.$route.query.code;
  },
  methods: {
    ...mapAuthActions(["resetPass", "login"]),
    submit() {
      this.$validator.validate().then(result => {
        if (result && this.form.email !== null && this.form.code !== null) {
          this.resetPass(this.form)
            .then(res => {
              if (res.status === 200) {
                let req = {
                  email: this.form.email,
                  password: this.form.password
                };
                this.login(req).then(() => {
                  this.$router.push("/profile");
                });
              }
            })
            .catch(error => {
              this.msg = error.response.data.message;
              console.log(error);
            });
        }
      });
    }
  }
};
</script>

<style scoped>
.back_error {
  font-size: 18px;
  color: #364a67;
  margin: 0;
}
.forgotPass__h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #364a67;
  margin-top: 80px;
}
</style>
