@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src:  local($font-file +'.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Montserrat', '../assets/fonts/Montserrat/Montserrat-Bold');
@include font('Montserrat Light', '../assets/fonts/Montserrat/Montserrat-Light');
@include font('Montserrat Black', '../assets/fonts/Montserrat/Montserrat-Black');
@include font('Montserrat Medium', '../assets/fonts/Montserrat/Montserrat-Medium');

html{
  line-height: unset !important;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 !important;
  background-color: #f5f5f5;
}

#app {
  height: 100vh;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(105deg, #f5f5f5 47%, #72a7e6 5%);
}

@media (min-width: 1640px) {
  #app {
    background-image: -webkit-linear-gradient(105deg, #f5f5f5 50%, #72a7e6 5%);
  }
}

@media (max-height: 700px) and (max-width: 425px) {
  #app {
    background-image: -webkit-linear-gradient(105deg, #f5f5f5 37%, #72a7e6 5%);
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  #app {
    height: unset;
  }
}

.container {
  max-width: 60%;
  min-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "logo logo" "menu content";
  grid-template-columns: 12% 88%;
  grid-template-rows: 178px 1fr;
}
@media (max-width: 900px) {
  .container {
    max-width: 90%;
    min-width: unset;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "logo" "content";
    grid-template-columns: 1fr;
    grid-template-rows: 144px 1fr;
  }
}
@media only screen and (min-width: 1904px){
  .container {
    max-width: fit-content !important;
  }
}

@media (min-width:1000px) and (max-width: 1300px) {
  .container {
    min-width: 1000px;
   /* grid-template-columns: 174px auto !important;*/
  }
}
@media (min-width: 800px) and (max-width: 900px)  and (min-height: 1200px) and (max-height: 1300px){
  .container {
    grid-template-rows: 334px 1fr;
  }
}
@media (min-width: 700px) and (max-width: 800px)  and (min-height: 1000px) and (max-height: 1100px){
  .container {
    grid-template-rows: 234px 1fr;
  }
}
@media (min-width: 1000px) and (max-width: 1100px)  and (min-height: 700px) and (max-height: 800px){
  .container {
    max-width: 90%;
    min-width: unset;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "logo" "content";
    grid-template-columns: 1fr;
    grid-template-rows: 144px 1fr;
  }
}
@media (min-width: 1000px) and (max-width: 1100px)  and (min-height: 1300px) and (max-height: 1400px){
  .container {
    max-width: 90%;
    min-width: unset;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "logo" "content";
    grid-template-columns: 1fr;
    grid-template-rows: 344px 1fr;
  }
}
@media (min-width:900px) and (max-width: 1000px) {
  .container {
    min-width: 800px;
    /*grid-template-columns: 174px auto !important;*/
    grid-template-columns: 174px auto;
  }
}
.container__no_menu {
  max-width: 60%;
  min-width: unset;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "logo" "content";
  grid-template-columns: 1fr;
  grid-template-rows: 118px 1fr;
}

@media (max-width: 425px) {
  .container__no_menu {
    max-width: unset;
    grid-template-rows: 148px 1fr;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .container__no_menu {
    max-width: unset;
  }
}
.container_authenticated {
 /* grid-template-columns: 274px auto;*/
  grid-template-columns: 1fr 950px;
}

@media (max-width: 900px) {
  .container_authenticated {
    grid-template-columns: 1fr;
  }
}
@media (min-width:1000px) and (max-width: 1300px) {
  .container_authenticated {
    /* grid-template-columns: 174px auto !important;*/
     grid-template-columns: 174px auto ;
    grid-template-areas: "logo logo" "menu content";
  }
}
.logo {
  padding-top: 28px;
  grid-area: logo;
}
/*
@media (max-width: 425px) {
  .logo {
    padding-top: 70px;
  }
}
*/
.menu {
  grid-area: menu;
}

.router__view {
  grid-area: content;
}

.logo__center {
  text-align: center;
  display:block !important;
}


/******************auth****************/
.login__block {
  margin-bottom: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 901px;
  height: 520px;
  background-color: #ffffff;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .login__block {
    width: 100%;
    height: 451px;
    padding-top: 50px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  .login__block {
    height: 700px;
  }
}
@media (min-width: 2040px) {
  .login__block {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1100px)  and (min-height: 1300px) and (max-height: 1400px){
  .login__block {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
.auth__form {
  text-align: center;
}
.login__forgotpass {
  text-decoration: none;
  display: block;
  color: #364a67;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 30px;
}
.auth__button {
  border-radius: 25px;
  border: none;
  width: 470px;
  height: 52px;
  background-color: #72a7e6;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 37px;
  text-transform: uppercase;
  cursor:pointer;
}
.auth__button:focus{
  outline:0;
}
.auth__button:hover{
  background-color: #9abbe2;
}
.auth__button:active{
  background-color: #72a7e6;
}
/*@media (min-width: 1400px) {
  .auth__button {
    margin-top: 144px;
  }
}*/
@media (max-width: 900px) {
  .auth__button {
    width: 300px;
    margin-top: 29px;
    height: 41px;
    font-size: 14px;
  }
}
@media (max-width: 415px){
  .auth__button {
    width: 230px;
  }
}

.login__email {
  margin-top: 67px;
}
@media (max-width: 900px) {
  .login__email {
    margin-top: 30px;
  }
}
@media (min-width: 1440px) {
  .login__email {
    margin-top: 137px;
  }
}
.login__password {
  margin-top: 20px;
}
@media (max-width: 900px) {
  .login__password {
    margin-top: 17px;
  }
}
.img__wrapper {
  position: relative;
}
.img__cat_login {
  position: absolute;
  left: 24px;
  top: 339px;
}
@media (max-width: 900px) {
  .img__cat_login {
    display: none;
  }
}
@media (min-width: 1440px) {
  .img__cat_login {
    top: 511px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px)  and (min-height: 1300px) and (max-height: 1400px){
  .img__cat_login {
    display: none;
  }
}
/******************auth*******************/
.menu{

}
@media (max-width: 900px) {
  .menu {
    display: none;
  }
}

@media (min-width: 1000px) and (max-width: 1100px)  and (min-height: 700px) and (max-height: 800px){
  .menu {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1100px)  and (min-height: 1300px) and (max-height: 1400px){
  .menu {
    display: none;
  }
}
@media (min-width:1000px) and (max-width: 1300px) {
  .menu {
    display: block;
  }
}
/*********profile*********/
.card {
  width: 460px;
  height: 710px;
  margin-left: 18px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
@media (max-width: 425px) {
  .card {
    width: 341px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 370px) {
  .card {
    width: 321px;
  }
}
@media (max-width: 320px) {
  .card {
    width: 290px;
  }
}
@media (min-width:425px) and (max-width: 1000px) {
  .card {
    /*width: 300px;*/
    width: -webkit-fill-available;
    width: -moz-available;

  }
}
@media (min-width:1000px) and (max-width: 1300px) {
  .card {
    width: -webkit-fill-available;
    width: -moz-available;

  }
}
.card_h1 {
  padding-top: 1px;
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  width: 40%;
}
@media (max-width: 425px) {
  .card_h1 {
    width: 45%
  }
}
.card_content_wrapper {
  margin: 35px;
}
/*********profile*********/

/*********check box li*********/
ul {
  padding-left: unset !important;
  list-style-type: none;
}
.checkbox_li {
  display: inline-flex;
  width: 33%;
}
/* The container */
.containerRadio {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000000;
  font-family: "Montserrat Light", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.08px;

}

/* Hide the browser's default checkbox */
.containerRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: #72a7e6;
}

/* On mouse-over, add a grey background color */
.containerRadio:hover input ~ .checkmark {
  background-color: #72a7e6;
}

/* When the checkbox is checked, add a blue background */
.containerRadio input:checked ~ .checkmark {
  background-color: #72a7e6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerRadio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerRadio .checkmark:after {
  left: 9px;
  top: -1px;
  width: 6px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*********check box li*********/

.basic_input_error {
  font-size: 12px;
  color: #ff7bac;
}
.input_error {
  background-color: #ffbed6;
}
