<template>
  <div class="anim_input__wrapper">
    <div class="placeholder__wrapper">
      <span
        @click="setInputActive"
        class="placeholder"
        :class="{ transform_one: transform }"
        >{{ label }}</span
      >
    </div>
    <input
      ref="input"
      :id="name"
      v-model="innerValue"
      :name="name"
      v-bind="$attrs"
      @input="updateValue"
      @blur="placeholderBack"
      @focus="placeholderTransform"
      class="input"
      :class="{ input__focus: transform, back_error_input: error }"
    />

    <span class="input__error">{{ errors.first(name) }}</span>
  </div>
</template>

<script>
export default {
  name: "AnimatedInput",
  inject: ["$validator"],
  $_veeValidate: {
    // fetch the current value from the innerValue defined in the component data.
    value() {
      return this.innerValue;
    }
  },
  data() {
    return {
      innerValue: "",
      transform: false,
      error: this.err
    };
  },
  props: {
    value: {
      type: String
    },
    name: {
      type: String,
      required: true
    },
    label: {
      type: String
    },
    err: {
      type: Boolean
    }
  },
  watch: {
    err() {
      this.error = this.err;
    }
  },
  methods: {
    updateValue() {
      this.error = false;
      this.$emit("input", this.innerValue);
    },
    placeholderTransform() {
      this.transform = true;
    },
    placeholderBack() {
      if (this.innerValue === "") {
        this.transform = false;
      }
      this.$emit("blur");
    },
    setInputActive() {
      this.$refs.input.focus();
    }
  }
};
</script>
<style scoped>
.input {
  border: 2px solid transparent;
  border-radius: 30px;
  /* width: 400px;*/
  width: 470px;
  padding-left: 35px;
  padding-right: 35px;
  height: 52px;
  background-color: #e3edfa;
  color: #364a67;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .input {
    /* width: 225px;*/
    width: 300px;
    height: 41px;
  }
}

@media (max-width: 415px) {
  .input {
    width: 230px;
  }
}
.input:focus {
  border-radius: 30px;
  border: 2px solid #72a7e6;
  outline: none;
  background-color: #fff;
}

.input__focus {
  border-radius: 30px;
  border: 2px solid #72a7e6;
  outline: none;
  background-color: #fff;
}

.input__error {
  display: block;
  color: #ff7bac;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  text-align: left;
  left: 20px;
  top: 5px;
  height: 14px;
}

@media (max-width: 900px) {
  .input__error {
    left: 20px;
    width: 250px;
  }
}

.placeholder {
  color: #72a7e6;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 34px;
  left: 20px;
  transition: 0.1s;
  float: left;
}

@media (max-width: 900px) {
  .placeholder {
    top: 30px;
    left: 22px;
    font-size: 12px;
  }
}
@media (max-width: 415px) {
  .placeholder {
    top: 28px;
  }
}
.transform_one {
  left: 220px;
  top: 10px;
  color: #364a67;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

@media (max-width: 900px) {
  .transform_one {
    left: 70px;
  }
}
@media (max-width: 415px) {
  .transform_one {
    left: 20px;
  }
}
.placeholder__wrapper {
  text-align: right;
  width: 200px;
}

.placeholder__wrapper_trans {
  text-align: right;
}

/*
  .placeholder[data-v-03b1fadc] {
    color: #72a7e6;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    position: relative;
    top: 35px;
    /* left: 240px; */
/*  -webkit-transition: 0.3s;
    transition: 0.3s;
    right: 575px;
  }
  */
.anim_input__wrapper {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.back_error_input {
  border: 2px solid #ff7bac;
  color: #ff7bac;
}
</style>
