<template>
  <div class="input_block_wrapper">
    <div class="key_wrapper">
      <span class="span_key">{{ label }}</span>
    </div>
    <div class="input_error_wrapper">
      <input
        :name="name"
        class="input_value"
        :placeholder="placeholder"
        v-model="innerValue"
        @input="updateValue"
        :class="{ input_error: errors.first(name) }"
      />
      <span class="basic_input_error">{{ errors.first(name) }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "BasicInput",
  inject: ["$validator"],
  $_veeValidate: {
    // fetch the current value from the innerValue defined in the component data.
    value() {
      return this.innerValue;
    }
  },
  data() {
    return {
      innerValue: ""
    };
  },
  props: {
    value: {
      type: String
    },
    label: {
      type: String
    },
    name: {
      type: String
    },
    placeholder: {
      type: String,
      required: true
    }
  },
  methods: {
    updateValue() {
      this.$emit("input", this.innerValue);
    }
  },
  mounted() {
    this.innerValue = this.value;
  },
  watch: {
    value() {
      this.innerValue = this.value;
    }
  }
};
</script>

<style scoped>
.input_error_wrapper {
  display: grid;
  width: 50%;
}
.span_key {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.input_value {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  border: none;
  height: 25px;
}
@media (max-width: 425px) {
  .input_value {
    width: 90%;
  }
}
.input_value:hover {
  background-color: #e3edfa;
}
.input_value:focus {
  background-color: #ffffff;
}
.key_wrapper {
  width: 40%;
  margin-top: 2px;
}
@media (max-width: 425px) {
  .key_wrapper {
    width: 45%;
  }
}
.input_block_wrapper {
  display: flex;
  margin-top: 4px;
}

.input_del_block_wrapper .key_wrapper {
  width: 43%;
}
@media (max-width: 425px) {
  .input_del_block_wrapper .key_wrapper {
    width: 47%;
  }
}
</style>
