<template>
  <v-menu
    ref="menu1"
    v-model="menu1"
    :close-on-content-click="false"
    :nudge-right="40"
    lazy
    transition="scale-transition"
    offset-y
    full-width
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-model="dateFormatted"
        readonly
        persistent-hint
        @blur="date = parseDate(dateFormatted)"
        v-on="on"
        :error-messages="errors.collect('date')"
        data-vv-name="date"
        v-validate="'required'"
        name="date"
      ></v-text-field>
    </template>
    <v-date-picker v-model="date" no-title @input="emitEvent"></v-date-picker>
    <span class="basic_input_error">{{ errors.first("date") }}</span>
  </v-menu>
</template>

<script>
export default {
  name: "DatePickerInput",
  inject: ["$validator"],
  $_veeValidate: {
    value() {
      return this.date;
    }
  },
  data: vm => ({
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    menu1: false
  }),

  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    }
  },

  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date);
    }
  },

  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${month}/${day}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    emitEvent(e) {
      this.menu1 = false;
      this.$emit("input", e);
    }
  },
  mounted() {
    this.$emit("input", this.date);
  }
};
</script>
<style>
.v-text-field {
  padding-top: unset;
  margin-top: unset;
}
.v-text-field__slot input {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-top: unset;
  padding-bottom: unset;
}
.v-text-field__details {
  display: none;
}
.v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none;
}
.v-text-field > .v-input__control > .v-input__slot:after {
  border-style: none;
}
</style>
