<template>
  <div style="display:flex;">
    <div class="input_span_wrapper">
      <span class="input_span">{{ label }}</span>
    </div>
    <div class="option_wrapper">
      <select
        :class="{ input_error: errors.first(name) }"
        class="option"
        v-model="selected"
        @change="emitEvent"
      >
        <option disabled value="">Select</option>
        <option
          v-bind:key="option.id"
          v-for="option in arr"
          :value="option.key || option.id"
          :name="name"
          >{{ option.value || option.name }}</option
        >
      </select>
      <span class="basic_input_error">{{ errors.first(name) }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "DropDownInput",
  inject: ["$validator"],
  $_veeValidate: {
    value() {
      return this.selected;
    }
  },
  props: {
    label: {
      type: String,
      required: true
    },
    name: {
      type: String
    },
    arr: {
      type: Array,
      required: true
    }
  },
  data: function() {
    return {
      selected: ""
    };
  },
  methods: {
    emitEvent() {
      this.$emit("input", this.selected);
    }
  }
};
</script>

<style scoped>
.option_wrapper {
  display: grid;
  width: 160px;
}
.input_span_wrapper {
  width: 110px;
}
.input_span {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.option {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: 160px;
  height: 25px;
}
.option:hover {
  background-color: #e3edfa;
}
</style>
