<template>
  <input
    @change="callFunc"
    type="radio"
    :id="keyNum + random"
    :name="unicName"
    :value="keyNum"
    v-model="locVal"
  />
</template>

<script>
export default {
  name: "RadioInput",
  props: {
    unicName: {
      type: Number
    },
    keyNum: {
      type: Number
    },
    random: {
      type: Number
    }
  },
  data: function() {
    return {
      locVal: null
    };
  },
  methods: {
    callFunc() {
      console.log(this.keyNum);
      this.$emit("input", this.keyNum);
    }
  },
  mounted() {
    console.log(this.keyNum);
  }
};
</script>

<style scoped></style>
