<template>
  <v-menu
    ref="menu"
    v-model="menu2"
    :close-on-content-click="false"
    :nudge-right="40"
    :return-value.sync="time"
    lazy
    transition="scale-transition"
    offset-y
    full-width
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-model="time"
        :error-messages="errors.collect('time')"
        data-vv-name="time"
        v-validate="'required'"
        name="time"
        readonly
        v-on="on"
      ></v-text-field>
    </template>
    <v-time-picker
      v-if="menu2"
      v-model="time"
      full-width
      @click:minute="$refs.menu.save(time)"
      @input="$emit('input', $event)"
    ></v-time-picker>
    <span class="basic_input_error">{{ errors.first("time") }}</span>
  </v-menu>
</template>

<script>
export default {
  name: "TimePickerInput",
  inject: ["$validator"],
  $_veeValidate: {
    // fetch the current value from the innerValue defined in the component data.
    value() {
      return this.time;
    }
  },
  data() {
    return {
      time: "00:00",
      menu2: false
    };
  },
  mounted() {
    this.$emit("input", this.time);
    let today = new Date();
    let minutes = "0";
    if (today.getMinutes() < 10) {
      minutes += today.getMinutes();
    } else {
      minutes = today.getMinutes();
    }
    let timeN = today.getHours() + ":" + minutes;
    this.time = timeN;
  }
};
</script>

<style>
.v-label--active {
  color: transparent !important;
}
.v-input .v-label {
  height: 20px;
  line-height: 10px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
</style>
