<template>
  <div>
    <img class="cat_audition" src="../assets/images/cat_audition.png" />
    <div>
      <hr />
      <div class="addButtonWrapper">
        <div @click="popup = true" class="add_audition_img_wrapper">
          <img src="../assets/images/add_audition_icon.png" />
        </div>
      </div>

      <AuditionForm v-if="popup" @close="popup = false" :data="initialData" />
      <div>
        <AuditionsList />
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const {
  mapGetters: mapAuditionsGetters,
  mapActions: mapAuditionsActions
} = createNamespacedHelpers("auditions");

import AuditionsList from "../components/AuditionsList";
import AuditionForm from "../components/AuditionForm";

export default {
  name: "Auditions",
  components: {
    AuditionsList,
    AuditionForm
  },
  data() {
    return {
      popup: false,
      initialData: {}
    };
  },
  computed: {
    ...mapAuditionsGetters(["userInitialAudition"])
  },
  methods: {
    ...mapAuditionsActions(["getInitialAudition"]),
    updateInitialData() {
      this.getInitialAudition()
        .then(() => {
          this.initialData = this.userInitialAudition;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.updateInitialData();
  }
};
</script>

<style scoped>
.middle_item_otstup {
  margin-left: 10px;
  margin-right: 10px;
}
hr {
  border: 1.5px solid #fff;
}
.add_audition_img_wrapper {
  width: 50px;
  height: 50px;
  background-color: #e68172;
  border-radius: 50%;
  text-align: center;
  border: 1.5px solid #fff;
  line-height: 50px;
  cursor: pointer;

  position: absolute;
  top: -25px;
  left: 850px;
}
.cat_audition {
  position: absolute;
  margin-top: 300px;
  margin-left: -280px;
}
@media (max-width: 1280px) {
  .cat_audition {
    margin-left: -180px;
  }
}
@media (max-width: 900px) {
  .cat_audition {
    display: none;
  }
}
img {
  cursor: pointer;
}
.addButtonWrapper {
  position: relative;
}
</style>
