<template>
  <div>
    <h1>Dashboard</h1>
    <p>hello {{ user.first_name }}</p>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const { mapState: mapAuthState } = createNamespacedHelpers("auth");

export default {
  name: "Dashboard",
  computed: mapAuthState(["user"])
};
</script>

<style scoped></style>
