<template>
  <div class="div__center">
    <h1 class="error__meow">Meow</h1>
    <h2 class="error__message">Seems like this page doesn't exist</h2>
    <h2 class="error__advice">
      But you can
      <router-link class="error__link" to="/">go back</router-link>
    </h2>
    <h1 class="error__num">404</h1>
    <div class="div__cat_img_block">
      <img class="img__cat" src="../assets/images/cat.png" alt="Cat" />
    </div>
  </div>
</template>

<script>
export default {
  name: "error"
};
</script>

<style scoped>
h1 {
  margin: 0;
}

.div__center {
  text-align: center;
}

.img__cat {
  position: absolute;
  top: -200px;
  z-index: 0;
  transform: translate(-50%, 0);
}

@media (max-width: 425px) {
  .img__cat {
    display: none;
  }
}

@media (max-width: 568px) and (max-height: 320px) {
  .img__cat {
    display: none;
  }
}

.div__cat_img_block {
  position: relative;
}

.error__meow {
  margin-top: 50px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.error__link {
  color: #364a67;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 425px) {
  .error__link {
    font-size: 16px;
  }
}

.error__advice {
  margin-top: 12px;
  color: #364a67;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

@media (max-width: 425px) {
  .error__advice {
    margin-top: 17px;
    font-size: 16px;
  }
}

.error__message {
  margin-top: 24px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

@media (max-width: 425px) {
  .error__message {
    font-size: 16px;
    margin-top: 28px;
  }
}

.error__num {
  color: #364a67;
  font-family: "Montserrat", sans-serif;
  font-size: 188px;
  font-weight: 900;
  z-index: 1;
  position: relative;
}

@media (max-width: 425px) {
  .error__num {
    font-size: 118px;
    margin-top: 140px;
  }
}

@media (min-width: 700px) and (min-height: 1024px) {
  .error__num {
    margin-top: 100px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .error__num {
    margin-top: 250px;
  }
}

@media (min-width: 1440px) {
  .error__num {
    margin-top: 50px;
  }
}

@media (min-width: 1640px) {
  .error__num {
    margin-top: 130px;
  }
}

@media (max-height: 600px) {
  .error__num {
    margin-top: 100px;
  }
}
</style>
