<template>
  <div class="profile_wrapper">
    <img
      src="../assets/images/cat_profile.png"
      alt="Audition cat"
      class="cat_profile"
    />
    <ProfileIformation />
    <HeadshotsGallery class="mob_second_block_margin" />
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import HeadshotsGallery from "../components/HeadshotsGallery";
import ProfileIformation from "../components/ProfileIformation";

const { mapState: mapAuthState } = createNamespacedHelpers("auth");

export default {
  name: "Profile",
  computed: mapAuthState(["user"]),
  components: {
    HeadshotsGallery,
    ProfileIformation
  }
};
</script>

<style scoped>
.mob_second_block_margin {
}

@media (max-width: 655px) {
  .mob_second_block_margin {
    margin-top: 15px;
    height: 600px;
  }
}
.profile_wrapper {
  display: flex;
  margin-bottom: 100px;
}
@media (max-width: 655px) {
  .profile_wrapper {
    display: grid;
    margin-bottom: 25px;
  }
}
.cat_profile {
  position: absolute;
  margin-top: 300px;
  margin-left: -230px;
}
@media (max-width: 1280px) {
  .cat_profile {
    margin-left: -180px;
  }
}
@media (max-width: 900px) {
  .cat_profile {
    display: none;
  }
}
</style>
