<template>
  <v-app>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-col-1">
              <div class="col-1-text-wrapper">
                <span class="col-1-text">Create Audition</span>
                <img
                  @click="$emit('close')"
                  src="../assets/images/exit-form.png"
                />
              </div>
            </div>

            <PopUpColumnOne :data="data" v-model="column1" />

            <PopUpColumnTwo
              :data="data.productionRoles"
              v-model="column2"
              @submit="submitForm"
            />

            <PopUpColumnThree :data="data" v-model="column3" />

            <div class="modal-col-5"></div>
          </div>
        </div>
      </div>
    </transition>
  </v-app>
</template>

<script>
import PopUpColumnOne from "./ui/PopUpColumnOne";
import PopUpColumnTwo from "./ui/PopUpColumnTwo";
import PopUpColumnThree from "./ui/PopUpColumnThree";
import { createNamespacedHelpers } from "vuex";
const { mapActions: mapAuditionsActions } = createNamespacedHelpers(
  "auditions"
);

export default {
  name: "AuditionForm",
  components: {
    PopUpColumnOne,
    PopUpColumnTwo,
    PopUpColumnThree
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data: function() {
    return {
      column1: "",
      column2: "",
      column3: ""
    };
  },
  computed: {
    createReq() {
      return {
        title: this.column1.title,
        productionCompanyName: this.column1.producer,
        time: this.column1.time,
        date: this.column1.date,
        generalFeel: parseInt(this.column3.feel),
        roomFeel: parseInt(this.column3.confident),
        preparedFeel: parseInt(this.column3.prepared),
        relaxedFeel: parseInt(this.column3.relaxed),
        medium: this.column1.medium,
        union: this.column1.unionstatus,
        type: this.column1.auditiontype,
        platform: this.column1.submissionplatform,
        comment: this.column3.message,
        roleName: this.column1.charactername,
        roleSize: this.column1.charactersize,
        roleType: this.column1.charactertype,
        headshotId: parseInt(this.column3.img),
        outfitId: this.column3.outfit,
        contacts: this.column2.castingDirrArr,
        materials: this.column3.materialPerformArr,
        location: { name: this.column1.location },
        productionCompanyLocation: {
          name: this.column1.producerlocation
        },
        team: this.column2.teamArr,
        genres: [this.column1.genre]
      };
    }
  },
  methods: {
    ...mapAuditionsActions(["postAuditions"]),
    submitForm() {
      var validationArray = this.$children.map(function(child) {
        return child.$validator.validateAll();
      });

      Promise.all(validationArray).then(v => {
        v.some(element => {
          if (element) {
            this.postAuditions(this.createReq).then(() => {
              this.$router.go();
            });
          } else {
            console.log("error");
          }
        });
      });
    }
  },
  provide() {
    return {
      $validator: this.$validator
    };
  }
};
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  justify-content: space-between;
  display: flex;
  width: 98%;
  height: 95%;
  margin: 0px auto;
  /*    padding: 20px 30px;*/
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
/*************first column************/
.modal-col-1 {
  width: 12.5%;
  border-right: 1px solid #f3f3f3;
}
@media (max-width: 1200px) {
  .modal-col-1 {
    display: none;
  }
}
.modal-col-1 img {
  cursor: pointer;
}
.col-1-text {
  color: #72a7e6;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-right: 15px;
}
.col-1-text-wrapper {
  transform: rotate(-90deg);
  position: absolute;
  top: 130px;
  width: 300px;
  left: 0px;
}

/*************fifth column************/

.modal-col-5 {
  width: 12.5%;
  border-left: 1px solid #f3f3f3;
}
@media (max-width: 1200px) {
  .modal-col-5 {
    display: none;
  }
}
/*************fifth column************/

/*****modal animation*******/

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*****modal animation*******/
</style>
