<template>
  <div>
    <div @click="sortAuditionsByDate" class="sortWrapper">
      <img src="../assets/images/sort.png" />
      <span>Newest First</span>
    </div>
    <ul>
      <li
        v-for="audition in auditions"
        :key="audition.id"
      >
        <Audition
          :date="audition.date"
          :time="audition.time"
          :callback="audition.callback"
          :hired="audition.hired"
          :title="audition.title"
          :location="audition.location"
          :medium="getMedium(audition.medium)"
          :type="getType(audition.type)"
        />
      </li>
    </ul>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const {
  mapGetters: mapAuditionsGetters,
  mapActions: mapAuditionsActions
} = createNamespacedHelpers("auditions");

import Audition from "./Audition.vue";

export default {
  name: "AuditionsList",
  components: {
    Audition
  },
  data: function() {
    return {
      auditions: [],
      medium: [],
      type: []
    };
  },
  computed: {
    ...mapAuditionsGetters(["userAuditions", "userInitialAudition"])
  },
  methods: {
    ...mapAuditionsActions(["getAuditions", "getInitialAudition"]),
    updateAuditionsData() {
      this.getAuditions().then(() => {
        this.auditions = this.userAuditions.data;
      });
    },
    updateInitialData() {
      this.getInitialAudition().then(() => {
        this.medium = this.userInitialAudition.mediums;
        this.type = this.userInitialAudition.auditionTypes;
      });
    },
    getMedium(id) {
      let val = this.medium.find(x => x.key === id).value;
      return val;
    },
    getType(id) {
      let val = this.type.find(x => x.key === id).value;
      return val;
    },
    sortAuditionsByDate() {
      this.auditions.sort(function(a, b) {
        return new Date(a.date) - new Date(b.date);
      });
    },
  },
  mounted() {
    this.updateAuditionsData();
    this.updateInitialData();
  }
};
</script>

<style scoped>
.sortWrapper {
  margin-bottom: 18px;
  margin-top: 15px;
  cursor: pointer;
}
span {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
ul {
  list-style-type: none;
  padding-left: unset;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
li {
  justify-self: center;
}
img {
  margin-left: 20px;
  margin-right: 15px;
}
</style>
