<template>
  <div class="audition_block_wrapper">
    <div class="audition_otstup">
      <div
        class="audition_poloska"
        :class="{ callback_poloska: callbackChek, hired_poloska: hiredCheck }"
      ></div>
      <div class="audition_content">
        <div class="audition_top_block">
          <div class="audition_day_time">
            <p class="audition_day">{{ getDayName() }}</p>
            <p class="audition_time">
              {{ getCorrectDate() }} {{ getCorrectTime() }}
            </p>
          </div>
          <div class="audition_call_hire_block">
            <p
              class="audition_not_call_or_hired"
              @click="callbackClick"
              :class="{ text_callback_hired_true: callbackChek }"
            >
              {{ callbackText }}
            </p>
            <p
              class="audition_not_call_or_hired"
              @click="hiredClick"
              :class="{ text_callback_hired_true: hiredCheck }"
            >
              {{ hiredText }}
            </p>
          </div>
        </div>
        <div>
          <h2 class="audition_title">{{ title }}</h2>
          <p class="audition_location">{{ location.name }}</p>
          <p class="audition_type">{{ medium }}, {{ type }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Audition",
  data() {
    return {
      hiredText: "",
      callbackText: "",
      callbackChek: null,
      hiredCheck: null
    };
  },
  props: {
    date: {
      type: String,
      required: true
    },
    time: {
      type: String,
      required: true
    },
    callback: {
      type: Boolean,
      required: true
    },
    hired: {
      type: Boolean,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    location: {
      type: Object,
      required: true
    },
    medium: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  methods: {
    checkHireCallback() {
      this.hiredCheck = this.hired;
      this.callbackChek = this.callback;
    },
    getDayName() {
      let days = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ];
      let d = new Date(this.date);
      return days[d.getDay()];
    },
    getCorrectDate() {
      let tempArr = this.date.split("-");
      tempArr.reverse();
      tempArr[2] = tempArr[2].substring(2, 4);
      let normalizeDate = "";
      normalizeDate = tempArr.join("/");
      normalizeDate = tempArr.join("/");
      normalizeDate += tempArr[2];
      return normalizeDate;
    },
    getCorrectTime() {
      return this.time.substring(3, 8);
    },
    callbackClick() {
      this.callbackChek = !this.callbackChek;
    },
    hiredClick() {
      if (this.callbackChek) {
        this.hiredCheck = !this.hiredCheck;
      }
    }
  },
  mounted() {
    this.checkHireCallback();
  },
  watch: {
    hiredCheck() {
      if (this.hiredCheck) {
        this.hiredText = "HIRED";
      } else {
        this.hiredText = "NOT HIRED";
      }
    },
    callbackChek() {
      if (this.callbackChek) {
        this.callbackText = "CALLBACK";
      } else {
        this.callbackText = "NO CALLBACK";
      }
    }
  }
};
</script>

<style scoped>
.audition_block_wrapper {
  display: inline-block;
  width: 309px;
  margin-bottom: 10px;
  height: 160px;
  background-color: #fff;
}
.audition_poloska {
  width: 3px;
  height: 131px;
  background-color: #d6d6d6;
}
.audition_otstup {
  display: flex;
  margin: 15px 15px 15px 11px;
}
.audition_day_time {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 40%;
}
.audition_top_block {
  display: flex;
}
.audition_not_call_or_hired {
  color: #d6d6d6;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 9px;
  margin-bottom: 0px;
  cursor: pointer;
}
.audition_call_hire_block {
  width: 60%;
  text-align: right;
}
.audition_content {
  padding-left: 12px;
  width: 100%;
}
.audition_day {
  margin-top: 5px;
  margin-bottom: 0px;
}
.audition_time {
  margin-top: 0px;
  margin-bottom: 0px;
}
.audition_title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 25px;
}
.audition_location {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-top: 3px;
  margin-bottom: 0px;
}
.audition_type {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 0px;
}
.text_callback_hired_true {
  color: #b5d1f3;
}
.callback_poloska {
  background-color: #ead1e6;
}
.hired_poloska {
  background-color: #72a7e6;
}
</style>
