<template>
  <div>
    <Logo
      :class="{ logo__center: !authenticated, logo_right: authenticated }"
    />
    <ProfileHeader
      :class="{ profileHeaderNone: !authenticated || !showMenu }"
    />
  </div>
</template>

<script>
import Logo from "./ui/Logo";
import ProfileHeader from "./ui/ProfileHeader";
import { createNamespacedHelpers } from "vuex";

const { mapGetters: mapAuthGetters } = createNamespacedHelpers("auth");
export default {
  name: "Header",
  components: {
    Logo,
    ProfileHeader
  },
  computed: {
    ...mapAuthGetters(["authenticated"]),
    showMenu() {
      return this.$route.name !== "error";
    }
  }
};
</script>

<style scoped>
.profileHeaderNone {
  display: none;
}
.logo_right {
  display: inline;
}
</style>
