<template>
  <div class="card">
    <div class="card_content_wrapper">
      <h1 class="card_h1">HEADSHOTS</h1>
      <HeadshotsShowImages v-if="!upload" v-model="upload" />

      <HeadshotsUploadImages v-else />
    </div>
  </div>
</template>

<script>
import HeadshotsShowImages from "./ui/HeadshotsShowImages";
import HeadshotsUploadImages from "./ui/HeadshotsUploadImages";
export default {
  name: "HeadshotsGallery",
  components: {
    HeadshotsShowImages,
    HeadshotsUploadImages
  },
  data() {
    return {
      upload: false
    };
  }
};
</script>

<style scoped></style>
