<template>
  <div>
    <base-input
      v-validate="'required|max:255'"
      v-model="value.street"
      name="street"
      label="Street"
    />
    <base-input
      v-validate="'required|max:255'"
      v-model="value.city"
      name="city"
      label="City"
    />
    <base-input
      v-validate="'required|max:255'"
      v-model="value.state"
      name="state"
      label="State"
    />
    <base-input
      v-validate="'required|max:255'"
      v-model="value.zip"
      name="zip"
      label="Zip"
    />
  </div>
</template>

<script>
import BaseInput from "./ui/inputs/AnimatedInput";

export default {
  name: "MailingAddress",
  components: {
    BaseInput
  },
  inject: ["$validator"],
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  watch: {
    value() {
      this.$emit("input", this.value);
    }
  }
};
</script>

<style scoped></style>
