<template>
  <div>
    <!--<router-link to="/">Home</router-link>-->
    <router-link v-if="!authenticated" to="/register" class="sign-up"
      >Sign Up</router-link
    >

    <router-link v-if="!authenticated" to="/login" class="sign-in"
      >Sign In</router-link
    >
    <router-link v-if="authenticated" to="/profile" class="profile"
      >Profile</router-link
    >
    <router-link v-if="authenticated" to="/auditions" class="auditions"
      >Auditions</router-link
    >
    <router-link v-if="authenticated" to="/contacts" class="contacts"
      >Contacts</router-link
    >
    <router-link v-if="authenticated" to="/insights" class="insights"
      >Insights</router-link
    >
    <!--<router-link v-if="authenticated" to="/dashboard">Dashboard</router-link>
    <button v-if="authenticated" @click="logout">Logout</button>-->
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const {
  mapState: mapAuthState,
  mapGetters: mapAuthGetters
} = createNamespacedHelpers("auth");

export default {
  name: "Menu",
  computed: {
    ...mapAuthState(["user"]),
    ...mapAuthGetters(["authenticated"])
  }
};
</script>

<style scoped>
.menu > a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.router-link-active {
  color: #364a67 !important;
}
.router-link-active::before {
  width: 7px;
  height: 6px;
  content: "";
  display: block;
  background: url("../assets/images/dot.png") no-repeat;
  position: absolute;
  right: 20px;
  top: 5px;
  left: -16px;
}
.sign-in {
  margin-top: 51px;
}
.sign-up {
  margin-top: 14px;
}
.profile {
  margin-top: 15px;
}
.auditions {
  margin-top: 51px;
}
.contacts {
  margin-top: 51px;
}
.insights {
  margin-top: 51px;
}
</style>
