<template>
  <div class="card">
    <div class="card_content_wrapper">
      <div>
        <h1 class="card_h1">BASIC INFORMATION</h1>
        <div class="profile_info_overlay">
          <BasicInput
            v-validate="'required|max:31'"
            :value="form.profile.firstName"
            label="First name"
            v-model="form.profile.firstName"
            name="first name"
            placeholder="Enter first name"
          />
          <BasicInput
            v-validate="'required|max:31'"
            :value="form.profile.lastName"
            label="Last name"
            v-model="form.profile.lastName"
            name="last name"
            placeholder="Enter last name"
          />
          <BasicInput
            v-validate="'required|email|max:255'"
            :value="form.profile.email"
            label="Email"
            v-model="form.profile.email"
            name="email"
            placeholder="Enter your email"
          />
          <BasicInput
            v-validate="'numeric'"
            :value="form.profile.phone"
            label="Phone"
            v-model="form.profile.phone"
            name="phone"
            placeholder="Add number"
          />
        </div>
      </div>

      <div class="second_block_wrapper">
        <div class="block_header_and_btn">
          <h1 class="card_h1">AUDITION MATERIAL</h1>
          <a class="add_btn" @click="addRowAudition">
            + add audition material
          </a>
        </div>
        <ul class="ul_inputs">
          <li v-for="(input, index) in inputsAudition" :key="input.id">
            <div class="li_wrapper">
              <img
                class="img_delete_row"
                src="../assets/images/x.png"
                @click="deleteRowAudition(index)"
              />
              <BasicInput
                v-validate="'required|max:62'"
                :name="'material ' + index"
                data-vv-as="audition material"
                v-model="input.name"
                label="Name"
                placeholder="Add material"
                class="input_del_block_wrapper"
              />
            </div>
          </li>
        </ul>
      </div>

      <div class="second_block_wrapper">
        <div class="block_header_and_btn">
          <h1 class="card_h1">OUTFIT</h1>
          <a class="add_btn" @click="addRowOutfit">+ add outft</a>
        </div>
        <ul class="ul_inputs">
          <li v-for="(input, index) in inputsOutfit" :key="input.id">
            <img
              class="img_delete_row"
              src="../assets/images/x.png"
              @click="deleteRowOutfit(index)"
            />
            <BasicInput
              v-validate="'required|max:62'"
              :name="'outfit ' + index"
              data-vv-as="outfit"
              v-model="input.name"
              label="Name"
              placeholder="Add outfit"
              class="input_del_block_wrapper"
            />
          </li>
        </ul>
      </div>

      <button @click="submit" class="button_update">Update</button>
    </div>
  </div>
</template>

<script>
import BasicInput from "../components/ui/inputs/BasicInput";
import { createNamespacedHelpers } from "vuex";
const {
  mapGetters: mapAuthGetters,
  mapActions: mapAuthActions
} = createNamespacedHelpers("auth");
const {
  mapGetters: mapUserInfoGetters,
  mapActions: mapUserInfoActions
} = createNamespacedHelpers("userInfo");

export default {
  name: "ProfileIformation",
  components: {
    BasicInput
  },
  data: function() {
    return {
      inputsAudition: [],
      inputsOutfit: [],
      form: {
        profile: {
          firstName: "",
          lastName: "",
          email: "",
          phone: ""
        }
      }
    };
  },
  methods: {
    ...mapAuthActions(["updateProfile"]),
    ...mapUserInfoActions([
      "getMaterials",
      "getOutfit",
      "updateMaterials",
      "updateOutfit"
    ]),

    addRowAudition() {
      this.inputsAudition.push({
        name: ""
      });
    },
    addRowOutfit() {
      this.inputsOutfit.push({
        name: ""
      });
    },
    deleteRowAudition(index) {
      this.inputsAudition.splice(index, 1);
    },
    deleteRowOutfit(index) {
      this.inputsOutfit.splice(index, 1);
    },
    setUserInfo() {
      this.form.profile.firstName = this.userProfile.firstName;
      this.form.profile.lastName = this.userProfile.lastName;
      this.form.profile.email = this.userProfile.email;
      this.form.profile.phone = this.userProfile.phone;
    },
    async sendUserData() {
      var res = await this.updateProfile(this.form.profile);
      if (res.newEmail) {
        this.$validator.errors.add({
          field: "email",
          msg: res.message
        });
      }
      await this.updateOutfit(this.inputsOutfit);

      await this.updateMaterials(this.inputsAudition);
    },
    submit() {
      this.$validator.validate().then(result => {
        if (result) {
          this.sendUserData()
            .then(() => {
              this.$router.go();
            })
            .catch(error => {
              console.log(error);
            });
        }
      });
    },
    setUserMaterials() {
      this.inputsAudition = this.userMaterials;
    },
    setUserOutfit() {
      this.inputsOutfit = this.userOutfit;
    }
  },
  computed: {
    ...mapAuthGetters(["userProfile"]),
    ...mapUserInfoGetters(["userMaterials", "userOutfit"])
  },
  mounted() {
    this.setUserInfo();
    this.getMaterials().then(() => {
      this.setUserMaterials();
    });
    this.getOutfit().then(() => {
      this.setUserOutfit();
    });
  }
};
</script>

<style scoped>
.card-left {
  margin-left: 28px;
}
.second_block_wrapper {
  margin-top: 25px;
}
.add_btn {
  /*padding-top: 4px;*/
  color: #72a7e6;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}
.block_header_and_btn {
  display: flex;
}
.ul_inputs {
  list-style: none;
  padding-left: unset;

  height: 165px;
  overflow-y: overlay;

  margin-top: unset;
  margin-bottom: unset;

  margin-left: -19px;
}
.img_delete_row {
  cursor: pointer;
  margin-right: 7px;
}
.button_update {
  width: 100%;
  height: 52px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #72a7e6;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.button_update:focus {
  outline: none;
  background-color: #72a7e6;
}
.button_update:hover {
  background-color: #9abbe2;
}
@media (max-width: 320px) {
  .button_update {
    margin-top: 10px;
  }
}
.input_del_block_wrapper {
  display: inline-flex;
  width: 90%;
}
.profile_info_overlay {
  height: 125px;
  overflow: overlay;
}
</style>
