<template>
  <div id="app">
    <div
      class="container"
      :class="{
        container__no_menu: !showMenu,
        container_authenticated: authenticated
      }"
    >
      <!-- <Logo class="logo" :class="{ logo__center: !authenticated }"></Logo>-->
      <Header class="logo" />
      <Menu class="menu" v-if="showMenu"></Menu>
      <router-view class="router__view" />
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
import Header from "./components/Header";
import Menu from "./components/Menu";

const { mapGetters: mapAuthGetters } = createNamespacedHelpers("auth");

export default {
  name: "App",
  components: {
    Header,
    Menu
  },
  computed: {
    ...mapAuthGetters(["authenticated"]),
    showMenu() {
      return this.$route.name !== "error";
    }
  }
};
</script>

<style lang="scss">
@import "./styles/style.scss";
</style>
