<template>
  <div>
    <BasicInput
      v-validate="'max:60'"
      label="Name"
      v-model="form.name"
      name="name"
      placeholder="Name"
    />
    <BasicInput
      v-validate="'email|max:60'"
      label="Email"
      v-model="form.email"
      name="email"
      placeholder="Email"
    />
    <BasicInput
      v-validate="'numeric|max:60'"
      label="Phone"
      v-model="form.phone"
      name="phone"
      placeholder="Phone"
    />
    <BasicInput
      v-validate="'max:60'"
      label="Company"
      v-model="form.companyName"
      name="company"
      placeholder="Casting House"
    />
    <textarea
      v-validate="'max:255'"
      name="messageCastingDir"
      data-vv-as="notes"
      placeholder="Notes or Feedback"
      v-model="form.notes"
    ></textarea>
    <span class="basic_input_error">{{
      errors.first("messageCastingDir")
    }}</span>
  </div>
</template>

<script>
import BasicInput from "./inputs/BasicInput";
export default {
  inject: ["$validator"],
  name: "CastingDirectorInfo",
  components: {
    BasicInput
  },
  data: function() {
    return {
      form: {
        name: null,
        email: null,
        phone: null,
        companyName: null,
        notes: null
      }
    };
  },
  props: {
    dataObj: {
      type: Object
    }
  },
  methods: {
    initializeData() {
      this.form.name = this.dataObj.name;
      this.form.email = this.dataObj.email;
      this.form.phone = this.dataObj.phone;
      this.form.companyName = this.dataObj.companyName;
      this.form.notes = this.dataObj.notes;
    },
    updateCastingValue() {
      this.$emit("input", this.form);
    }
  },
  mounted() {
    this.initializeData();
  },
  watch: {
    form: {
      handler() {
        this.updateCastingValue();
      },
      deep: true
    },
    dataObj() {
      this.initializeData();
    }
  }
};
</script>

<style scoped>
textarea {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
textarea:focus {
  background-color: #f1f6fc;
  height: 110px;
}
</style>
