<template>
  <div>
    <ul>
      <li class="checkbox_li" v-for="(input, index) in data" :key="index">
        <label :for="input.id + random" class="containerRadio">
          {{ input.name }}
          <RadioInput
            :unicName="unicId"
            :keyNum="input.id"
            :random="random"
            v-model="checked"
          />
          <span class="checkmark circle_radio"></span>
        </label>
      </li>
    </ul>
    <input
      v-validate="'max:60'"
      type="text"
      name="new genre"
      v-model="newGenre"
      placeholder="Please specify..."
      class="newGenreInput"
      @keyup.enter="submit"
    />
    <span class="basic_input_error">{{ errors.first("new genre") }}</span>
  </div>
</template>

<script>
import RadioInput from "./inputs/RadioInput";
export default {
  name: "CheckboxList",
  inject: ["$validator"],
  components: {
    RadioInput
  },
  $_veeValidate: {
    // fetch the current value from the innerValue defined in the component data.
    value() {
      return this.newGenre;
    }
  },
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  data: function() {
    return {
      checked: null,
      newGenre: null,
      unicId: 1,
      random: Math.random()
    };
  },
  methods: {
    submit() {
      this.data.push({
        id: this.data[this.data.length - 1].id + 1,
        name: this.newGenre
      });
    }
  },
  watch: {
    checked() {
      this.$emit("input", this.checked);
    }
  }
};
</script>

<style scoped>
.circle_radio {
  border-radius: 50%;
}
.containerRadio .checkmark:after {
  left: 5px;
  border-radius: 50%;
  top: 5px;
  width: 7px;
  height: 7px;
  border: solid white;
}
.newGenreInput {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  height: 33px;
  width: 100%;
  background-color: #e3edfa;
  padding-left: 11px;
  padding-right: 11px;
}
</style>
