<template>
  <div>
    <div class="headshots_upload_wrapper">
      <label class="button_update">
        <input
          type="file"
          @change="onFileChanged"
          v-validate="'image|size:5120|mimes:jpeg,png,jpg'"
          data-vv-as="image"
          name="image_field"
          :disabled="checkDisable"
        />
        CLICK TO UPLOAD
      </label>
      <span class="file_input_error">{{ errors.first("image_field") }}</span>
      <p class="text_required_files">
        Required, file: jpg, png, max: 5Mb
      </p>
      <ul v-for="(input, index) in headshotsNames" :key="index">
        <li
          @mouseover="mouseover = index"
          @mouseleave="mouseover = null"
          class="headshots_img_li"
        >
          <span class="headshots_name_list_text">
            {{ input.attachment.awsKey }}
          </span>
          <img
            :name="`image_${input.id}`"
            v-if="mouseover === index"
            @click="deleteImage(input.id)"
            src="../../assets/images/delete-image.png"
          />
          <img v-else src="../../assets/images/image-uploaded.png" />
        </li>
        <span class="file_input_error">{{
          errors.first(`image_${input.id}`)
        }}</span>
      </ul>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const {
  mapGetters: mapUserInfoGetters,
  mapActions: mapUserInfoActions
} = createNamespacedHelpers("userInfo");
export default {
  name: "HeadshotsUploadImages",
  inject: ["$validator"],
  $_veeValidate: {
    // fetch the current value from the innerValue defined in the component data.
    value() {
      return this.selectedFile;
    }
  },
  data() {
    return {
      selectedFile: null,
      headshotsNames: [],
      mouseover: null
    };
  },
  methods: {
    ...mapUserInfoActions([
      "uploadHeadshot",
      "getHeadshots",
      "deleteHeadshots"
    ]),
    onFileChanged(event) {
      this.$validator.validate().then(result => {
        if (result) {
          this.selectedFile = event.target.files[0];
          const formData = new FormData();
          formData.append("headshot", this.selectedFile);
          this.uploadHeadshot(formData).then(() => {
            this.updateDataFromVuex();
          });
        }
      });
    },
    updateDataFromVuex() {
      this.getHeadshots().then(() => {
        this.headshotsNames = this.userHeadshots.data;
      });
    },
    deleteImage(id) {
      this.deleteHeadshots(id)
        .then(() => {
          this.updateDataFromVuex();
        })
        .catch(error => {
          if (error.response.data.message === "Cannot delete this headshot") {
            this.$validator.errors.add({
              field: `image_${id}`,
              msg: "Сan't delete headshot, it's attached to audition."
            });
          }
        });
    }
  },
  computed: {
    ...mapUserInfoGetters(["userHeadshots"]),
    checkDisable() {
      return this.headshotsNames.length >= 10;
    }
  },
  mounted() {
    this.updateDataFromVuex();
  },
  watch: {
    headshotsNames() {
      if (this.headshotsNames.length >= 10) {
        this.$validator.errors.add({
          field: "image_field",
          msg: "You can't add more than 10 headshots"
        });
      }
    }
  }
};
</script>

<style scoped>
.button_update {
  line-height: 52px;
  display: block;
  width: 100%;
  height: 52px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #72a7e6;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}
.button_update:focus {
  outline: none;
  background-color: #72a7e6;
}
.button_update:hover {
  background-color: #9abbe2;
}
.text_required_files {
  color: #808080;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
}
.headshots_upload_wrapper {
  text-align: center;
}
input[type="file"] {
  display: none;
}
ul {
  list-style-type: none;
  padding-left: unset;
  /* margin-top: 29px;*/
}
li img {
  cursor: pointer;
}
.headshots_img_li {
  background: url("../../assets/images/img_icon.png") no-repeat 13px;
  height: 36px;
  line-height: 36px;
  padding-left: 10px;
  margin-top: unset;
  margin-bottom: unset;
}
.headshots_img_li:hover {
  background-color: #f1f6fc;
  color: #008fb7;
}
.headshots_name_list_text {
  padding-left: 20px;
  text-align: left;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: unset;
  width: 80%;
  display: inline-block;
}
.headshots_name_list_text:hover {
  color: #008fb7;
}
.file_input_error {
  text-align: center;
  font-size: 12px;
  color: #ff7bac;
}
</style>
