<template>
  <div>
    <div class="photos_wrapper">
      <img
        class="add_photo"
        src="../../assets/images/add_photo_in_profile.png"
        alt="Add photo"
        @click="$emit('input', true)"
      />
      <ul>
        <li v-for="input in headshots" :key="input.id" class="headshots_li">
          <img class="headshots_img_li" :src="input.attachment.path" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";

const {
  mapGetters: mapUserInfoGetters,
  mapActions: mapUserInfoActions
} = createNamespacedHelpers("userInfo");

export default {
  name: "HeadshotsShowImages",
  data: function() {
    return {
      headshots: []
    };
  },
  methods: {
    ...mapUserInfoActions(["getHeadshots"])
  },
  computed: {
    ...mapUserInfoGetters(["userHeadshots"])
  },
  mounted() {
    this.getHeadshots().then(() => {
      this.headshots = this.userHeadshots.data;
    });
  }
};
</script>

<style scoped>
ul {
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
  padding-left: unset;
  margin: unset;
  width: -webkit-fill-available;
}
.add_photo {
  cursor: pointer;
  width: 65px;
  height: 65px;
  position: absolute;
}

.photos_wrapper {
  margin-top: 50px;
  display: flex;
}
@media (max-width: 425px) {
  .photos_wrapper {
    margin-top: 27px;
  }
}
@media (min-width: 1000px) and (max-width: 1024px) {
  .photos_wrapper {
    padding-left: 20px;
  }
}
@media (min-width: 760px) and (max-width: 888px) {
  .photos_wrapper {
    padding-left: 20px;
  }
}
@media (min-width: 656px) and (max-width: 717px) {
  .photos_wrapper {
    padding-left: 20px;
  }
}
@media (min-width: 371px) and (max-width: 425px) {
  .photos_wrapper {
    padding-left: 20px;
  }
}
@media (min-width: 321px) and (max-width: 371px) {
  .photos_wrapper {
    padding-left: 10px;
  }
}
@media (max-width: 320px) {
  .photos_wrapper {
    padding-left: 30px;
  }
}
.headshots_img {
  width: 65px;
  height: 65px;
}
.headshots_img_li {
  width: 65px;
  height: 65px;
  margin-bottom: 13px;
}

li:first-child {
  margin-left: 78px;
}
.headshots_li {
  flex: 0 1 78px;
}

@media (min-width: 900px) and (max-width: 1000px) {
  .headshots_li {
    flex: 0 1 75px;
  }
}
</style>
