<template>
  <div>
    <img
      @click="logoHomeLink"
      class="active"
      src="../../assets/images/logo.png"
      alt="Logo"
    />
  </div>
</template>

<script>
export default {
  name: "Logo",
  methods: {
    logoHomeLink() {
      return this.$router.push("/");
    }
  }
};
</script>

<style scoped>
.active {
  cursor: pointer;
}
</style>
