<template>
  <div>
    <DropDownInput
      class="materialperform-dropdown-otstup"
      label="Material perform"
      :arr="dataObj.materialNames"
      v-model="form.id"
    />
    <h1 class="card_h1 card_h1-materialperform-otstup">LENGTH</h1>
    <ul>
      <li
        class="checkbox_li"
        v-for="(input, index) in dataObj.materialLengths"
        :key="index"
      >
        <label :for="input.key + random" class="containerRadio">
          {{ input.value }}
          <RadioInput
            :unicName="unicId"
            :keyNum="input.key"
            :random="random"
            v-model="form.length"
          />
          <span class="checkmark circle_radio"></span>
        </label>
      </li>
    </ul>
  </div>
</template>

<script>
import RadioInput from "./inputs/RadioInput";
import DropDownInput from "./inputs/DropDownInput";
export default {
  name: "MaterialPerform",
  components: {
    DropDownInput,
    RadioInput
  },
  props: {
    dataObj: {
      type: Object,
      required: true
    },
    value: {
      type: Object
    },
    unicId: {
      type: Number
    }
  },
  data: function() {
    return {
      form: {
        id: null,
        length: null
      },
      random: Math.random()
    };
  },
  methods: {
    initializeData() {
      this.form = this.value;
    }
  },
  mounted() {
    this.initializeData();
  }
};
</script>

<style scoped>
ul {
  margin-bottom: 30px;
}
.circle_radio {
  border-radius: 50%;
}
.containerRadio .checkmark:after {
  left: 5px;
  border-radius: 50%;
  top: 5px;
  width: 7px;
  height: 7px;
  border: solid white;
}
.card_h1-materialperform-otstup {
  margin-bottom: 18px;
  margin-top: 18px;
}
.materialperform-dropdown-otstup {
  margin-top: 18px;
}
</style>
