<template>
  <div class="modal-col-4">
    <div class="col-4-wrapper">
      <div class="block_header_and_btn">
        <h1 class="card_h1">MATERIAL PERFORMED</h1>
        <a class="add_btn" @click="addRowAdditionalPerson">+ add material</a>
      </div>
      <ul>
        <li v-for="(input, index) in form.materialPerformArr" :key="index">
          <MaterialPerform
            :data-obj="data"
            :unicId="index"
            v-model="form.materialPerformArr[index]"
          />
        </li>
      </ul>

      <h1 class="col-4-head-text">PERSONAL DEBRIEF (ON A SCALE OF 1-10)</h1>
      <ProgressLine
        label="How did you feel (for quick self reporting)?"
        v-model="form.feel"
      />
      <ProgressLine
        label="How confident did you feel entering the room?"
        v-model="form.confident"
      />
      <ProgressLine
        label="How prepared did you feel for this audition?"
        v-model="form.prepared"
      />
      <ProgressLine label="How relaxed were you?" v-model="form.relaxed" />

      <span class="choose-headshot"
        >Choose what pic were used Headshot Used (selected from profle)</span
      >
      <div class="headshots-wrapper">
        <img
          v-for="headshot in data.headshots"
          :key="headshot.id"
          :value="headshot.id"
          :src="headshot.attachment.path"
          @click="updateDataImg"
          :class="{ img_choosen: form.img === headshot.id }"
        />
      </div>

      <h1 class="col-4-head-text choose-audition-otstup">
        CREATE AN AUDITION MATERIALS
      </h1>
      <DropDowmInput
        label="Choose Outft"
        :arr="data.outfits"
        v-model="form.outfit"
      />

      <h1 class="col-4-head-text comment-otstup">COMMENT</h1>
      <textarea
        v-validate="'max:255'"
        name="messageColThree"
        data-vv-as="comment"
        placeholder="Text here..."
        v-model="form.message"
      ></textarea>
      <span class="basic_input_error">{{
        errors.first("messageColThree")
      }}</span>
    </div>
  </div>
</template>

<script>
import MaterialPerform from "./MaterialPerform";
import ProgressLine from "./ProgressLine";
import DropDowmInput from "./inputs/DropDownInput";

export default {
  inject: ["$validator"],
  name: "PopUpColumnThree",
  components: {
    ProgressLine,
    DropDowmInput,
    MaterialPerform
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data: function() {
    return {
      form: {
        img: null,
        feel: null,
        confident: null,
        prepared: null,
        relaxed: null,
        outfit: null,
        message: null,
        materialPerformArr: [
          {
            id: null,
            length: null
          }
        ]
      }
    };
  },
  methods: {
    addRowAdditionalPerson() {
      this.form.materialPerformArr.push({
        id: null,
        length: null
      });
    },
    updateDataImg(e) {
      this.$set(this.form, "img", parseInt(e.target.attributes.value.value));
    }
  },
  watch: {
    form: {
      handler: function() {
        this.$emit("input", this.form);
      },
      deep: true
    }
  },
  mounted() {
    this.$emit("input", this.form);
  }
};
</script>

<style scoped>
img {
  width: 69px;
  height: 69px;
  padding: 2px;
  margin-bottom: 16px;
  cursor: pointer;
}
img:hover {
  border: 2px solid #94bcec;
}
.img_choosen {
  border: 2px solid #94bcec;
}
textarea {
  width: 100%;
  height: 20px;

  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
textarea:focus {
  background-color: #f1f6fc;
  height: 110px;
}
.headshots-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.choose-headshot {
  margin-top: 22px;
  display: block;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.comment-otstup {
  margin-top: 23px;
  margin-bottom: 18px;
}
.choose-audition-otstup {
  margin-top: 30px;
  margin-bottom: 18px;
}
.col-4-head-text {
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
}
.col-4-wrapper {
  padding: 25px;
}
.modal-col-4 {
  width: 25%;
  max-height: -webkit-fill-available;
  overflow-y: overlay;
}
@media (max-width: 1200px) {
  .modal-col-4 {
    width: 33%;
  }
}
.block_header_and_btn {
  display: flex;
}
.add_btn {
  color: #72a7e6;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
</style>
