<template>
  <div class="modal-col-2">
    <div class="col-2-wrapper">
      <div>
        <span class="col-2-autofill-text">Callback autofilling</span>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
      </div>

      <span class="col-2-maininfo">MAIN INFO</span>
      <div class="title_wrapper">
        <input
          class="col-2-title-input"
          type="text"
          name="title"
          v-model="form.title"
          placeholder="Audition Title*"
          v-validate="'required|max:60'"
        />
        <span class="basic_input_error">{{ errors.first("title") }}</span>
      </div>

      <BasicInput
        v-validate="'max:60'"
        label="Location"
        name="location"
        v-model="form.location"
        placeholder="Name of the location"
      />

      <span class="col-2-proddata">PRODUCTION DATA</span>

      <BasicInput
        v-validate="'max:60'"
        label="Producer / Production Company"
        name="producer"
        v-model="form.producer"
        placeholder="Producer / Production Company"
      />
      <BasicInput
        v-validate="'max:60'"
        label="Production Location / Address"
        name="producer location"
        v-model="form.producerlocation"
        placeholder="Production Location / Address"
      />

      <span class="col-2-timedate">TIME AND DATE*</span>

      <div class="col-2-datepicker-wrapper">
        <span class="col-2-datepicker-text">Pick The Date</span>
        <DatePickerInput v-model="form.date" @input="getDate" />
      </div>

      <div class="col-2-datepicker-wrapper">
        <span class="col-2-datepicker-text">Pick The Time</span>
        <TimePickerInput v-model="form.time" @input="getTime" />
      </div>

      <span class="col-2-timedate">MEDIUM AND UNION STATUS</span>

      <DropDownInput
        name="medium"
        v-validate="'required'"
        class="dropdownotstup"
        label="Medium*"
        :arr="data.mediums"
        v-model="form.medium"
      />

      <DropDownInput
        class="dropdownotstup"
        label="Union Status"
        :arr="data.unionStatus"
        v-model="form.unionstatus"
      />

      <DropDownInput
        name="audition type"
        v-validate="'required'"
        class="dropdownotstup"
        label="Audition Type"
        :arr="data.auditionTypes"
        v-model="form.auditiontype"
      />

      <DropDownInput
        class="dropdownotstup"
        label="Submission Platform"
        :arr="data.submissionPlatforms"
        v-model="form.submissionplatform"
      />

      <span class="col-2-timedate">GENRE</span>

      <RadioList
        :data="data.genres"
        v-model="form.genre"
        @change="getRadioBtn"
      />

      <span class="col-2-timedate">ROLE</span>

      <BasicInput
        v-validate="'max:60'"
        label="Character Name"
        name="character name"
        placeholder="Text here..."
        v-model="form.charactername"
      />

      <DropDownInput
        class="dropdownotstup"
        label="Character Size"
        :arr="data.characterSizes"
        v-model="form.charactersize"
      />

      <BasicInput
        v-validate="'max:60'"
        label="Character Type"
        name="character type"
        placeholder="Text here..."
        v-model="form.charactertype"
      />
    </div>
  </div>
</template>

<script>
import BasicInput from "./inputs/BasicInput";
import DatePickerInput from "./inputs/DatePickerInput";
import TimePickerInput from "./inputs/TimePickerInput";
import DropDownInput from "./inputs/DropDownInput";
import RadioList from "./GenresList";

export default {
  inject: ["$validator"],
  name: "PopUpColumnOne",
  components: {
    BasicInput,
    DatePickerInput,
    TimePickerInput,
    DropDownInput,
    RadioList
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data: function() {
    return {
      form: {
        title: null,
        location: null,
        producer: null,
        producerlocation: null,
        date: null,
        time: null,
        medium: null,
        unionstatus: null,
        auditiontype: null,
        submissionplatform: null,
        charactername: null,
        charactersize: null,
        charactertype: null,
        genre: null
      }
    };
  },
  methods: {
    getDate(e) {
      this.form.date = e;
    },
    getTime(e) {
      this.form.time = e;
    },
    getRadioBtn(e) {
      this.form.genre = e;
    }
  },
  watch: {
    form: {
      handler: function() {
        this.$emit("input", this.form);
      },
      deep: true
    }
  }
};
</script>

<style scoped>
.title_wrapper {
  display: grid;
}
.modal-col-2 {
  max-height: -webkit-fill-available;
  width: 25%;
  overflow-y: overlay;
}
@media (max-width: 1200px) {
  .modal-col-2 {
    width: 33%;
  }
}
.col-2-wrapper {
  padding: 25px;
}
.col-2-autofill-text {
  color: #72a7e6;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-right: 27px;
}
.col-2-maininfo {
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 12px;
  display: block;
}
.col-2-title-input {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: unset;
}
.col-2-proddata {
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.col-2-timedate {
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}
.col-2-datepicker-wrapper {
  display: flex;
}
.col-2-datepicker-text {
  padding-top: 3px;
  width: 40%;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.dropdownotstup {
  margin-top: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
