<template>
  <div class="modal-col-3">
    <div class="col-3-wrapper">
      <div class="main-info-wrapper">
        <div class="block_header_and_btn">
          <h1 class="card_h1">CASTING DIRECTOR</h1>
          <a class="add_btn" @click="addRowAdditionalPerson"
            >+ add additional person</a
          >
        </div>
        <ul>
          <li v-for="(input, index) in form.castingDirrArr" :key="input.id">
            <CastingDirectorInfo
              :dataObj="input"
              v-model="form.castingDirrArr[index]"
            />
          </li>
        </ul>
        <div class="block_header_and_btn">
          <h1 class="card_h1">TEAM</h1>
          <a class="add_btn" @click="addRowTeamPerson"
            >+ add additional person</a
          >
        </div>
        <ul>
          <li v-for="(input, index) in form.teamArr" :key="input.id">
            <TeamInfo
              :dataObj="input"
              v-model="form.teamArr[index]"
              :roles-arr="data"
            />
          </li>
        </ul>
      </div>
      <div style="margin-top: 20%;">
        <div class="cat_img_form_wrapper">
          <img
            class="cat_img_form"
            src="../../assets/images/cat_form_submit.png"
          />
        </div>
        <button @click="submit" class="button_update">SUBMIT</button>
      </div>
    </div>
  </div>
</template>

<script>
import CastingDirectorInfo from "./CastingDirectorInfo";
import TeamInfo from "./TeamInfo";

export default {
  inject: ["$validator"],
  name: "PopUpColumnTwo",
  components: {
    CastingDirectorInfo,
    TeamInfo
  },
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  data: function() {
    return {
      form: {
        castingDirrArr: [
          {
            name: null,
            email: null,
            phone: null,
            companyName: null,
            notes: null
          }
        ],
        teamArr: [
          {
            name: null,
            role: null,
            inRoom: null,
            notes: null
          }
        ]
      }
    };
  },
  methods: {
    addRowAdditionalPerson() {
      this.form.castingDirrArr.push({
        name: null,
        email: null,
        phone: null,
        companyName: null,
        notes: null
      });
    },
    addRowTeamPerson() {
      this.form.teamArr.push({
        name: null,
        role: null,
        inRoom: null,
        notes: null
      });
    },
    submit(e) {
      this.$emit("submit", e);
    }
  },
  watch: {
    form: {
      handler: function() {
        this.$emit("input", this.form);
      },
      deep: true
    }
  },
  mounted() {
    this.$emit("input", this.form);
  }
};
</script>

<style scoped>
.cat_img_form_wrapper {
  position: relative;
  text-align: center;
}
.cat_img_form {
  position: absolute;
  bottom: -27px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
.main-info-wrapper {
  height: 80%;
  max-height: -webkit-fill-available;
  overflow-y: overlay;
}
.button_update {
  width: 100%;
  height: 52px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #72a7e6;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.button_update:focus {
  outline: none;
  background-color: #72a7e6;
}
.button_update:hover {
  background-color: #9abbe2;
}
.block_header_and_btn {
  display: flex;
}
.add_btn {
  color: #72a7e6;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.modal-col-3 {
  width: 25%;
  border-right: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
}
@media (max-width: 1200px) {
  .modal-col-3 {
    width: 33%;
  }
}
.col-3-wrapper {
  height: 100%;
  padding: 25px;
}
ul {
  padding-left: unset;
  list-style-type: none;
}
</style>
