<template>
  <div class="profile_header_wrapper">
    <span class="name"
      >{{ userProfile.firstName }} {{ userProfile.lastName }}</span
    >
    <div class="icon_wrapper">
      <img
        width="50px"
        height="50px"
        src="../../assets/images/user-default-icon.png"
        alt="Avatar"
      />
    </div>
    <img
      src="../../assets/images/menu-arrow-down.png"
      class="drp_dwn_icon"
      @click="showMenu = !showMenu"
      :class="{ drp_dwn_icon_rotate: showMenu }"
    />
    <div style="position: relative;">
      <div class="dnt_shw_menu" :class="{ shw_menu: showMenu }">
        <router-link to="/profile" tag="a">Profile</router-link>
        <hr />
        <a @click="logout">Log Out</a>
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const {
  mapActions: mapAuthActions,
  mapGetters: mapAuthGetters
} = createNamespacedHelpers("auth");

export default {
  name: "ProfileHeader",
  data() {
    return {
      showMenu: false
    };
  },
  methods: {
    ...mapAuthActions(["logout"])
  },
  computed: {
    ...mapAuthGetters(["userProfile"])
  }
};
</script>

<style scoped>
hr {
  border: 1px solid #536f94;
}
a {
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: unset;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  opacity: 0.6;
}
a:active {
  opacity: 1;
}
.name {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 12px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.icon_wrapper {
  background-color: #fff;
  border-radius: 50%;
}
.profile_header_wrapper {
  display: inline-flex;
  float: right;
  padding-top: 15px;
}
.drp_dwn_icon {
  width: 15px;
  height: 15px;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 5px;
  cursor: pointer;
}

.dnt_shw_menu {
  display: none;
}
.shw_menu {
  display: grid;
  position: absolute;
  margin-top: 60px;
  right: 0px;
  background-color: #48668d;
  color: #90a2ba;
  width: 170px;
  border-radius: 10px;
  z-index: 1000;
}
.drp_dwn_icon_rotate {
  transform: rotate(180deg);
}
</style>
