<template>
  <div class="progress-otstup">
    <div>
      <span class="label">{{ label }}</span>
      <span class="current" :class="{ currentUp: current > 0 }">{{
        this.current
      }}</span>
    </div>
    <div class="progressWrapp">
      <div
        v-for="progress in progresses"
        :key="progress"
        class="progress"
        :value="progress"
        @click="setCurrent"
        :class="{ progressTrue: progress <= current }"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProgressLine",
  data: function() {
    return {
      progresses: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      current: 0
    };
  },
  methods: {
    setCurrent(e) {
      this.current = e.target.attributes.value.value;
      this.$emit("input", this.current);
    }
  },
  props: {
    label: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.$emit("input", this.current);
  }
};
</script>

<style scoped>
.progress-otstup {
  margin-bottom: 5px;
}
.label {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  margin-top: 10px;
}
.current {
  font-size: 20px;
  font-weight: bold;
  float: right;
  color: #e3edfa;
  font-family: "Montserrat", sans-serif;
  margin-top: 6px;
  display: inline-block;
}
.currentUp {
  color: #72a7e6;
}
.progressWrapp {
  width: 100%;
  display: flex;
  border-radius: 10rem/5rem;
  overflow: hidden;
  margin-top: 11px;
}
.progress {
  width: 10%;
  height: 10px;
  background: #e3edfa;
  border: 1px solid #fff;
  cursor: pointer;
}
.progressTrue {
  background: #72a7e6;
}
</style>
