<template>
  <div class="socials__wraper">
    <img src="../../assets/images/fb-icon.png" alt="Facebook" />
    <img
      class="linkdin__img"
      src="../../assets/images/in-icon.png"
      alt="Linkedin"
    />
    <img src="../../assets/images/twitter-icon.png" alt="" />
  </div>
</template>

<script>
export default {
  name: "SocialLogin"
};
</script>

<style scoped>
.socials__wraper {
  padding-top: 148px;
  padding-left: 20px;
}
@media (max-width: 900px) {
  .socials__wraper {
    padding: unset;
    text-align: center;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .socials__wraper {
    padding-top: 48px;
    text-align: center;
  }
}
.socials__wraper > img {
  display: block;
}
@media (max-width: 900px) {
  .socials__wraper > img {
    display: inline;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .socials__wraper > img {
    display: inline;
  }
}
.linkdin__img {
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .linkdin__img {
    margin-top: unset;
    margin-bottom: unset;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .linkdin__img {
    margin-top: unset;
    margin-bottom: unset;
    margin-left: 30px;
    margin-right: 30px;
  }
}
</style>
