<template>
  <div>
    <BasicInput
      v-validate="'max:60'"
      label="Name"
      v-model="form.name"
      name="name"
      placeholder="Name"
    />
    <DropDownInput
      class="dropdownotstup"
      label="Role within the production"
      :arr="rolesArr"
      v-model="form.role"
    />
    <label class="containerRadio">
      In the Room?
      <input type="checkbox" v-model="form.inRoom" />
      <span class="checkmark"></span>
    </label>
    <textarea
      v-validate="'max:255'"
      name="messageTeam"
      data-vv-as="notes"
      placeholder="Notes or Feedback"
      v-model="form.notes"
    ></textarea>
    <span class="basic_input_error">{{ errors.first("messageTeam") }}</span>
  </div>
</template>

<script>
import BasicInput from "./inputs/BasicInput";
import DropDownInput from "./inputs/DropDownInput";

export default {
  inject: ["$validator"],
  name: "TeamInfo",
  components: {
    BasicInput,
    DropDownInput
  },
  data: function() {
    return {
      form: {
        name: null,
        role: null,
        inRoom: null,
        notes: null
      }
    };
  },
  props: {
    rolesArr: {
      type: Array,
      required: true
    },
    dataObj: {
      type: Object
    }
  },
  methods: {
    updateTeamValue() {
      this.$emit("input", this.form);
    },
    initializeData() {
      this.form = this.dataObj;
    }
  },
  mounted() {
    this.initializeData();
  },
  watch: {
    form: {
      handler() {
        this.updateTeamValue();
      },
      deep: true
    },
    dataObj() {
      this.initializeData();
    }
  }
};
</script>

<style scoped>
.dropdownotstup {
  margin-top: 8px;
}
textarea {
  width: 100%;
  height: 20px;

  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
textarea:focus {
  background-color: #f1f6fc;
  height: 110px;
}
</style>
